# Data cleansing notes on removed records:

## See data_engineering.ipynb for more details.

### Measurement Records Information
    19,550 total records before changes
    1,447 records with blank precipitation (col = "prcp")
    18,103 records with no known issues after removing 1,447 with blank prcp
    Percentage of records removed is 0.07%
    Percentage of records remaining is 93.0%

In [86]:
import pandas as pd
import numpy as np
import os

In [87]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy import create_engine, MetaData
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float
from sqlalchemy import func

In [88]:
# Create an engine to a database file called `hawaii.sqlite`
engine = create_engine("sqlite:///hawaii.sqlite")
# Create a connection to the engine called `conn`
conn = engine.connect()

In [89]:
# Use `declarative_base` from SQLAlchemy to model the tables as an ORM class
Base = declarative_base()

In [90]:
class weather(Base):
    __tablename__ = 'weather'

    id = Column(Integer, primary_key=True)
    station = Column(Text)
    date = Column(Text)
    prcp = Column(Float)
    tobs = Column(Float)
    
def __repr__(self):
    return "<Weather(%r, %r, %r, %r, %r)>" % (self.id, self.station, self.date, 
                                              self.prcp, self.tobs)

In [91]:
class station(Base):
    __tablename__ = 'station'

    id = Column(Integer, primary_key=True)
    station   = Column(Text)
    name      = Column(Text)
    latitude  = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)
    
def __repr__(self):
    return "<Station(%r, %r, %r, %r, %r, %r)>" % (self.id, self.station, self.name, 
                                                  self.latitude, self.longitude,
                                                  self.elevation)

In [92]:
# Display the schema of the table we just created
weather.__table__

Table('weather', MetaData(bind=None), Column('id', Integer(), table=<weather>, primary_key=True, nullable=False), Column('station', Text(), table=<weather>), Column('date', Text(), table=<weather>), Column('prcp', Float(), table=<weather>), Column('tobs', Float(), table=<weather>), schema=None)

In [93]:
# Display the schema of the table we just created
station.__table__

Table('station', MetaData(bind=None), Column('id', Integer(), table=<station>, primary_key=True, nullable=False), Column('station', Text(), table=<station>), Column('name', Text(), table=<station>), Column('latitude', Float(), table=<station>), Column('longitude', Float(), table=<station>), Column('elevation', Float(), table=<station>), schema=None)

In [94]:
# Use `create_all` to create the tables
Base.metadata.create_all(engine)

In [95]:
# Load the cleaned csv file into a pandas dataframe
df_w_data_to_insert = pd.read_csv("clean_weather_source.csv")

In [96]:
# Use Orient='records' to create a list of data to write
# http://pandas-docs.github.io/pandas-docs-travis/io.html#orient-options
w_data = df_w_data_to_insert.to_dict(orient='records')
w_data[0]

{'date': '2010-01-01', 'prcp': 0.05, 'station': 'USC00511918', 'tobs': 66}

In [97]:
# Load the cleaned csv file into a pandas dataframe
df_s_data_to_insert = pd.read_csv("clean_station_source.csv")

In [98]:
# Use Orient='records' to create a list of data to write
# http://pandas-docs.github.io/pandas-docs-travis/io.html#orient-options
s_data = df_s_data_to_insert.to_dict(orient='records')
s_data[0]

{'elevation': 0.9,
 'latitude': 21.3152,
 'longitude': -157.9992,
 'name': 'HONOLULU OBSERVATORY 702.2, HI US',
 'station': 'USC00511918'}

In [99]:
# Use MetaData from SQLAlchemy to reflect the tables
metadata = MetaData(bind=engine)
metadata.reflect()

In [100]:
# Save the reference to the `weather` table as a variable called `w_table`
w_table = sqlalchemy.Table('weather', metadata, autoload=True)

In [101]:
# Save the reference to the `station` table as a variable called `s_table`
s_table = sqlalchemy.Table('station', metadata, autoload=True)

In [102]:
# Use _table.insert() to insert the data into the table
conn.execute(w_table.insert(), w_data)

In [103]:
# Test that the insert works by fetching the first 5 rows. 
conn.execute("select * from weather limit 5").fetchall()

[(1, 'USC00511918', '2010-01-01', 0.05, 66.0),
 (2, 'USC00511918', '2010-01-02', 0.0, 70.0),
 (3, 'USC00511918', '2010-01-03', 0.0, 75.0),
 (4, 'USC00511918', '2010-01-04', 0.0, 75.0),
 (5, 'USC00511918', '2010-01-05', 0.0, 75.0)]

In [104]:
# Use _table.insert() to insert the data into the table
conn.execute(s_table.insert(), s_data)

In [105]:
# Test that the insert works by fetching the first 5 rows. 
conn.execute("select * from station limit 5").fetchall()

[(1, 'USC00511918', 'HONOLULU OBSERVATORY 702.2, HI US', 21.3152, -157.9992, 0.9),
 (2, 'USC00513117', 'KANEOHE 838.1, HI US', 21.4234, -157.8015, 14.6),
 (3, 'USC00514830', 'KUALOA RANCH HEADQUARTERS 886.9, HI US', 21.5213, -157.8374, 7.0),
 (4, 'USC00516128', 'MANOA LYON ARBO 785.2, HI US', 21.3331, -157.8025, 152.4),
 (5, 'USC00517948', 'PEARL CITY, HI US', 21.3934, -157.9751, 11.9)]

In [106]:
# list tables in database hawaii
tables = engine.execute("SELECT * FROM sqlite_master WHERE TYPE='table'")
for index, table in enumerate(tables):
    print(table)
    print()
    table_name = table[1]
    print(f"The #{index} table in DB hawaii is called '{table_name}'.")

('table', 'station', 'station', 2, 'CREATE TABLE station (\n\tid INTEGER NOT NULL, \n\tstation TEXT, \n\tname TEXT, \n\tlatitude FLOAT, \n\tlongitude FLOAT, \n\televation FLOAT, \n\tPRIMARY KEY (id)\n)')

The #0 table in DB hawaii is called 'station'.
('table', 'weather', 'weather', 3, 'CREATE TABLE weather (\n\tid INTEGER NOT NULL, \n\tstation TEXT, \n\tdate TEXT, \n\tprcp FLOAT, \n\ttobs FLOAT, \n\tPRIMARY KEY (id)\n)')

The #1 table in DB hawaii is called 'weather'.

In [107]:
# https://sqlite.org/pragma.html
# list colums in the weather table
columns = list(engine.execute("PRAGMA table_info(weather)"))
print(columns)
print()
for column in columns:
    (number, name, type, _, _, _) = column
    print(f"Column {number} is called '{name}', and is of type '{type}'.")

[(0, 'id', 'INTEGER', 1, None, 1), (1, 'station', 'TEXT', 0, None, 0), (2, 'date', 'TEXT', 0, None, 0), (3, 'prcp', 'FLOAT', 0, None, 0), (4, 'tobs', 'FLOAT', 0, None, 0)]

Column 0 is called 'id', and is of type 'INTEGER'.
Column 1 is called 'station', and is of type 'TEXT'.
Column 2 is called 'date', and is of type 'TEXT'.
Column 3 is called 'prcp', and is of type 'FLOAT'.
Column 4 is called 'tobs', and is of type 'FLOAT'.

In [108]:
# https://sqlite.org/pragma.html
# list the columns in the Station table
columns = list(engine.execute("PRAGMA table_info(station)"))
print(columns)
print()
for column in columns:
    (number, name, type, _, _, _) = column
    print(f"Column {number} is called '{name}', and is of type '{type}'.")

[(0, 'id', 'INTEGER', 1, None, 1), (1, 'station', 'TEXT', 0, None, 0), (2, 'name', 'TEXT', 0, None, 0), (3, 'latitude', 'FLOAT', 0, None, 0), (4, 'longitude', 'FLOAT', 0, None, 0), (5, 'elevation', 'FLOAT', 0, None, 0)]

Column 0 is called 'id', and is of type 'INTEGER'.
Column 1 is called 'station', and is of type 'TEXT'.
Column 2 is called 'name', and is of type 'TEXT'.
Column 3 is called 'latitude', and is of type 'FLOAT'.
Column 4 is called 'longitude', and is of type 'FLOAT'.
Column 5 is called 'elevation', and is of type 'FLOAT'.

In [109]:
# Create a session to run SQL
from sqlalchemy.orm import Session
from sqlalchemy import func
# Declare a session
session = Session(bind=engine)

In [110]:
# Get an actual number for count(*) by using scalar()
session.query(func.count(station.id)).scalar()

9

In [111]:
# Get an actual number for count(*) by using scalar()
session.query(func.count(weather.id)).scalar()

18103

In [112]:
# Use table.delete() to remove any existing data and re-run.
# conn.execute(w_table.delete())
# conn.execute(s_table.delete())